body {
    text-align: center;
}

h1 {
    font-family: "Helvetica ", sans-serif;
    font-size: 3rem;
    color: rgb(45, 43, 170);
}
h2{
  font-size: 2rem;
}

p{
  font-size : 1rem;
}

.browser {
    padding-left: 10px;
}

.survey_body {
    /* background-color: #53dfe4; */
    /* margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px; */
}

.form-control-1 {
    padding-right: 43%;
    text-align: right;
    margin: 10px 0px;
    font-size: 20px;
}

.texto {
    text-align: center;
    padding-left: 35px;
}

.two {
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
}

.box {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.btn-control {
    padding-bottom: 20px;
    padding-left: 40%;
    text-align: left;
    font-size: 20px;
}

/* .questions {
    padding-top: 20px;
} */

.fb {
    width: 10%;
    height: auto;
}

.button {
    background-color: rgb(87, 139, 216);
    border-color: transparent;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(103, 163, 253);
    color: #ffffff;
    border-color: transparent;
}

.btnClass {
    text-align: center;
}

/* Shared classes */



/* Title section */
#title {
  background-color: #F4C983;
  padding : 3% 4%;
}
/* Form Section */
#form {
  padding: 3% 5%;
  text-align: center;
  /* background-color: #5B6D5B; */
  /* #F4C983; */
}
.surveryForm {
  /* #DDDDDD; */
  background-color: #DDDDDD;
}

.surveyIntro{
  /* margin: 4%; */
  /* background-color: #F39189; */
  padding : 5%;
}
.headerImg{
  width: 40%;
}
.userInfo{
  margin: 2.5%;
}

.userLabel{
  margin: 3% 20%;
  text-align: left;
}

.questions{
  margin:  5% 7%;
  text-align: left;
}


.commentBox{
  margin: 4% 15%;
}

.btnClass{
  margin: 4%;
}

/* Footer section */
#footer {
  padding: 3% 4%;
  background-color: #F4C983;
  text-align: center;
}
