body {
    text-align: center;
}

h1 {
    font-family: "Helvetica ", sans-serif;
    font-size: 3.5rem;
    color: rgb(45, 43, 170);
    padding: 5%;
}
h2{
  font-size: 2rem;
  padding: 1%;
}
h3{
  font-size: 1.5rem;
  padding: 1.5%;
  font-style: italic;
  font-weight: normal;
}

p{
  font-size : 1rem;
}

hr{
  border: dotted #276678 6px;
  border-bottom: none;
  width: 70%;
}

/* Form Section */
#form {
  padding: 7% 15%;
  text-align: center;
  background-image: url('images/bg4.jpg');
}
.surveryForm {
  /* #DDDDDD; */
  background-color: #fafafa;
  border-radius: 2rem;
  border: #d3e0ea solid 2rem;
}

.surveyIntro{
  padding : 5%;
}
.carouselSection {
  margin: 2% 8%;
}

.headerImg1{
  width: 30%;
}

.headerImg2{
  width: 60%;
}

.userInfo{
  margin: 2.5%;
}

.userLabel{
  margin: 3% 20%;
  text-align: left;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.commentBox{
  margin: 4% 15%;
}
.questions{
  margin:  5% 7%;
  text-align: left;
  padding-left: 10%;
  padding-right: 4%;
}

.btnClass {
    text-align: center;
    margin: 4%;
}

.button {
    background-color: rgb(87, 139, 216);
    border-color: transparent;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
}

.button:hover {
    background-color: rgb(103, 163, 253);
    color: #ffffff;
    border-color: transparent;
}

/* Footer section */
#footer {
  padding: 3% 4%;
  background-color: #d3e0ea;
  color: #276678;
  font-weight: bold;
  text-align: center;
}
